<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <%= stylesheet_link_tag 'emails' %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="http://portal.managedapps.co/">
          <img src="https://s3-us-west-2.amazonaws.com/managedapps.co/images/logo-big.png" alt="ma-logo">
        </a>
      </div>
    </div>
  </nav>
  <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 date">
    <span class="todays-date"><%= todays_date %></span>
  </div>
  <div class="email-content container-fluid">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6 left-text">
        <div class="subject">
          <span class="subject-text">
            MANAGEDAPPS STATS REPORT
          </span>
        </div>
        <div class="row">
          <div class="summary col-sm-9 col-md-9 col-lg-9">
            Hello <%=" #{fname if fname}"%>, <br/>
            Here are your stats for <span class="underscore"><%= app_name.upcase %></span>. We thank you for your loyalty and have a pleasant day.
          </div>
          <div class="summary-link col-sm-9 col-md-9 col-lg-9">
            Click the following link to learn more about your app:<br/>
            <span class="link"><a href="<%= link_for_app %>"><%= link_for_app %></a></span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-6 right-text">
        <div class="stats-title">
          STATS FOR <span class="app-name"><%= app_name.upcase %></span>
        </div>
        <div class="stats-table">
          <div>
            <table class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
              <tbody>
              <tr>
                <td class="day">Total:</td>
                <td class="value"><%= total %></td>
              </tr>
              <tr>
                <td class="day">Today:</td>
                <td class="value"><%= today %></td>
              </tr>
              <tr>
                <td class="day">Yesterday:</td>
                <td class="value"><%= yesterday %></td>
              </tr>
              <tr>
                <td class="day">This Week:</td>
                <td class="value"><%= this_week %></td>
              </tr>
              <tr>
                <td class="day">Last Week:</td>
                <td class="value"><%= last_week %></td>
              </tr>
              <tr>
                <td class="day">This Month:</td>
                <td class="value"><%= this_month %></td>
              </tr>
              <tr>
                <td class="day">Last Month:</td>
                <td class="value"><%= last_month %></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
