<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <%= stylesheet_link_tag 'emails' %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="http://portal.managedapps.co/">
          <img src="https://s3-us-west-2.amazonaws.com/managedapps.co/images/logo-big.png" alt="ma-logo">
        </a>
      </div>
    </div>
  </nav>
  <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 date">
    <span class="todays-date"><%= todays_date %></span>
  </div>
  <div class="email-content container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 left-text">
        <div class="subject">
            <span class="subject-text">
              YOU HAVE BEEN INVITED TO THE MANAGEDAPPS PORTAL!
            </span>
        </div>
        <div class="row">
          <div class="summary col-sm-12 col-md-12 col-lg-12">
            Hello <%=" #{fname.capitalize if fname}"%>, <br/>
            You have been invited to <%  if app_name %> <span class="underscore"><%= " #{app_name.upcase} " %> </span> on  <% else %> <%='the'%> <% end %>  ManagedApps Portal!
          </div>
          <div class="summary-link col-sm-12 col-md-12 col-lg-12">
            Click the following link to sign up:
            <span class="link"><a href="<%= sign_up_link %>"><%= sign_up_link %></a></span>
          </div>
          <div class="good-bye col-md-12 col-sm-12 col-lg-12">
            Thanks for joining and have a pleasant day.
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
