<div class="config-users">
  <ul class="config-users-list ma-list">
    <% @users.each do |u| %>
        <%= link_to(app_show_remove_button_path(@app.id, u.id), remote: true) do %>
            <li class="<%= "user_#{u.id}" %>">
              <span><%= u.fname %></span>
              <span><%= u.lname %></span>
              <span class="align-right"><%= u.email %></span>
              <% link_to u.email, app_show_user_path(user_id: u.id), class: 'keep-right', remote: true %>
            </li>
        <% end %>
    <% end %>
  </ul>
</div>

<button class='btn btn-default add-user-btn' data-toggle='modal' data-target='#confirm-delete-app'>+</button>
<div class="modal fade" id="confirm-delete-app" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteAppModal" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content-config-user">
        <div id="sign_up_form" class="wrapper_login">
          <div id="sign_up_form" class="wrapper_login">
            <h3>ADD USER TO APP</h3>
            <%= form_tag(invitation_create_path, method: :post, remote: true) do %>
                <div class="field form-group">
                  <%= text_field_tag 'fname', nil, placeholder: 'First Name', class: 'form-control' %>
                </div>
                <div class="field form-group">
                  <%= text_field_tag 'lname', nil, placeholder: 'Last Name', class: 'form-control' %>
                </div>
                <div class="field form-group">
                  <%= text_field_tag 'email', nil, placeholder: 'example@gmail.com', class: 'form-control' %>
                </div>
                <div class="field form-group">
                  <%= submit_tag 'Add User', class: 'form-control sign-up-btn', remote: true %>
                </div>
                <div class="form-control btn btn-default log-in-btn" data-dismiss="modal">Cancel</div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
